<article
  class="highlight-{{ .Params.highlight }} card overflow-hidden rounded-2xl border shadow-md shadow-slate-100 transition hover:scale-105 hover:duration-300 hover:ease-in-out"
>
  <div class="overflow-hidden">
    {{ $title := .LinkTitle }}
    <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
      {{ with .Resources.Get "header.jpeg" }}
        <img
          src="{{ .RelPermalink }}"
          alt="{{ $title }}"
          class="lazy aspect-video max-h-48 w-full object-cover"
        />
      {{ end }}
    </a>
  </div>
  <div class="summary relative h-max p-8">
    <span
      class="fa-{{ .Params.pack }} fa-{{ .Params.icon }} absolute -top-4 right-0 left-0 mx-auto h-5 w-5 rounded-full p-2 ring-4 ring-white"
    ></span>
    <h4 class="mb-4 text-center">
      <span class="rounded-full px-4 py-2 text-xs font-medium"
        >{{ .Params.category }}</span
      >
    </h4>
    <h3 class="mb-2 text-center text-2xl font-light text-slate-800">
      <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
        {{ .LinkTitle | safeHTML }}
      </a>
    </h3>
  </div>
</article>
