<article
  class="highlight-{{ .Params.highlight }} card overflow-hidden rounded-2xl border shadow-md shadow-slate-100 transition hover:scale-105 hover:duration-300 hover:ease-in-out"
>
  <div class="overflow-hidden">
    {{ $title := .LinkTitle }}
    <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
      {{ with .Resources.Get "header.jpeg" }}
        <img
          src="{{ .RelPermalink }}"
          alt="{{ $title }}"
          class="lazy aspect-video h-full w-full object-cover"
        />
      {{ end }}
    </a>
  </div>
  <div class="summary relative h-max p-4">
    <span
      class="fa-{{ .Params.pack }} fa-{{ .Params.icon }} absolute -top-3 right-0 left-0 mx-auto h-4 w-4 rounded-full p-1 ring-2 ring-white"
    ></span>
    <h3 class="mb-2 text-center text-sm font-light text-slate-800">
      <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
        {{ .LinkTitle | safeHTML }}
      </a>
    </h3>
  </div>
</article>
