{{ define "main" }}
  <section class="fade-in-animation mx-auto max-w-4xl">
    <header>
      <h1
        class="text-center text-2xl leading-tight font-bold sm:my-4 md:my-8 md:text-5xl"
      >
        <span class="relative font-normal">Nibbles</span>,
        <span class="relative font-normal">Bits</span> &amp;
        <span class="relative font-normal">Bytes</span>.
      </h1>
      <p
        class="mb-10 hidden text-center text-2xl font-extralight text-slate-500 md:block"
      >
        An uncurated collection of links & blurbs. <br />
        It's like a backlog, but for my attention span.
      </p>
    </header>
    {{ range (where .Site.RegularPages "Section" "bits") }}
      <article
        class="highlight-{{ .Params.highlight }} article relative mb-8 pb-8"
      >
        <header class="summary mb-8 text-center">
          <h3 class="mb-6 text-center text-2xl font-light">
            {{ .LinkTitle | safeHTML }}
          </h3>
          <div
            class="border-{{ .Params.highlight }}-100 mx-auto w-1/2 border-b-2"
          >
            <span
              class="fa-{{ .Params.pack }} fa-{{ .Params.icon }} absolute top-10 right-0 left-0 mx-auto h-4 w-4 rounded-full p-2 ring-4 ring-white"
            ></span>
          </div>
        </header>
        <div class="prose-xl mb-8">
          {{ .Content }}
          {{ if .Params.source }}
            <a href="{{ .Params.url }}" title="{{ .LinkTitle }}"> source </a>
          {{ end }}
        </div>
        <footer class="text-center text-sm text-slate-400">
          <span>{{ .Date | time.Format ":date_medium" }}</span>
          {{ with .GetTerms "tags" }}
            +
            {{ if ne (len .) 0 }}
              {{ partial "tags/inline.html" . }}
            {{ end }}
          {{ end }}
        </footer>
      </article>
    {{ end }}
  </section>
{{ end }}
