<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="sm:mx-5 m-10">
      {{ partial "nav.html" . }}
      <header class="mx-auto max-w-4xl text-center sm:mb-0 md:mb-8 pb-4 relative fade-in-animation">
        {{ partial "header.html" . }}
      </header>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer class="mx-auto max-w-2xl text-center text-sm text-slate-400">
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </body>
</html>