{{ define "main" }}
  <header
    class="fade-in-animation relative mx-auto mb-0 max-w-4xl pb-4 text-center md:mb-8"
  >
    {{ partial "header.html" . }}
  </header>

  <div class="divider mx-auto hidden max-w-4xl md:block lg:block">
    <h3 class="mb-8 text-center text-xl font-medium text-slate-600">
      <span class="bg-white px-4">Latest & Greatest</span>
    </h3>
  </div>

  <section
    class="fade-in-animation mx-auto mb-8 hidden max-w-4xl grid-cols-2 gap-8 border-b border-b-slate-100 pb-8 md:grid lg:grid"
  >
    {{ range (where .Site.RegularPages "Section" "blog" | first 2) }}
      {{ partial "views/card.html" . }}
    {{ end }}
  </section>

  <section
    class="fade-in-animation mx-auto mb-8 hidden max-w-4xl grid-cols-4 gap-8 md:grid lg:grid"
  >
    {{ range (first 8 (where .Site.RegularPages "Section" "blog" | after 2)) }}
      {{ partial "views/small.html" . }}
    {{ end }}
  </section>

  <div class="divider mx-auto hidden max-w-4xl md:block lg:block">
    <h3 class="mb-8 text-center text-xl font-medium text-slate-600">
      <span class="bg-white px-4">Everything Else</span>
    </h3>
  </div>
  <section class="fade-in-animation mx-auto mb-10 max-w-4xl">
    <div class="sm:block md:hidden lg:hidden">
      {{ range (where .Site.RegularPages "Section" "blog" | first 10) }}
        {{ partial "views/row.html" . }}
      {{ end }}
    </div>

    {{ range (first 10 (where .Site.RegularPages "Section" "blog" | after 10)) }}
      {{ partial "views/row.html" . }}
    {{ end }}
    <div class="mt-8 text-center sm:mt-0">
      <a
        href="{{ .Site.BaseURL }}archive"
        class="rounded-full bg-blue-600 px-4 py-2 font-semibold text-blue-50 transition-all hover:bg-blue-400"
      >
        View the rest ...
      </a>
    </div>
  </section>
{{ end }}
