{{ define "main" }}
  <section class="mx-auto max-w-4xl fade-in-animation">
    {{ range (where .Site.RegularPages "Section" "blog" ) }}
      <article class="relative flex pb-8 mb-8 border-b category-{{ .Params.category | urlize  }} transition hover:scale-105">
        <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}" class="article-card overflow-hidden rounded-2xl block h-64 w-64 ring-4 border-4 border-white">
          {{ $title := .LinkTitle }}
          {{ with .Resources.Get "header.jpeg" }}
            <img src="{{ .RelPermalink }}" alt="{{ $title }}" class="max-w-64 aspect-square object-cover lazy" />
          {{ end }}
        </a>
        <div class="absolute left-72 py-4">
          <div class="text-slate-400">
            <a href="" title="" class="category p-2 rounded-md text-sm font-medium inline-block">
              {{ partial (printf "categories/%s.html" (.Params.category | urlize)) . }}
              {{ .Params.category }}
            </a>

            {{ with .Params.tags }}
              {{ $count :=  len . }}
              {{ if ne $count 0 }}
                +
                {{ range $index, $tag := . }}
                  <span class="border-b-2 border-b-slate-100 font-medium text-slate-500">{{ $tag }}</span>
                  {{ if eq $count 2 }}{{ if eq $index 0 }}&nbsp;&amp;&nbsp;{{ end }}
                  {{ else if and (ge $count 2) (eq $index (sub $count 2)) }}&nbsp;&amp;&nbsp;
                  {{ else }}{{ if and (ne $count 1) (ne $index (sub $count 1)) }},{{ end }}{{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
          <h3 class="font-extrabold text-3xl my-4">
            <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}" class="hover:underline">
              {{ .LinkTitle }}
            </a>
          </h3>
          <div class="text-slate-600 leading-7 text-lg font-light line-clamp-3 text-justify">
            {{ .Summary }}
          </div>
        </div>
      </article>
    {{ end }}
  </section>
{{ end }}
