{{- /*
  Human, casual relative date for a time.Time. Returns a plain string.

  Scale:
  < 12h ............ just now
  < 24h ............ today
  1 day ............ yesterday
  2-3 days ......... recently
  4-7 days ......... "{n} days ago"
  8-13 days ........ a week and change
  14-20 days ....... a couple of weeks ago
  21-30 days ....... a few weeks ago
  31-60 days ....... about a month ago
  61-364 days ...... "{n} months ago"
  1-2 years ........ about a year ago
  2+ years ......... "{n} years ago"

  Usage: {{ partial "functions/relative-date.html" .Date
}}
*/ -}}
{{- $date := . -}}
{{- $hours := (now.Sub $date).Hours -}}
{{- $days := math.Floor (div $hours 24) -}}
{{- $out := "" -}}
{{- if lt $hours 12 -}}
  {{- $out = "just now" -}}
{{- else if lt $hours 24 -}}
  {{- $out = "today" -}}
{{- else if lt $days 2 -}}
  {{- $out = "yesterday" -}}
{{- else if lt $days 4 -}}
  {{- $out = "recently" -}}
{{- else if lt $days 8 -}}
  {{- $out = printf "%d days ago" (int $days) -}}
{{- else if lt $days 14 -}}
  {{- $out = "a week and change ago" -}}
{{- else if lt $days 21 -}}
  {{- $out = "a couple of weeks ago" -}}
{{- else if lt $days 31 -}}
  {{- $out = "a few weeks ago" -}}
{{- else if lt $days 61 -}}
  {{- $out = "about a month ago" -}}
{{- else if lt $days 365 -}}
  {{- $out = printf "%d months ago" (int (math.Round (div $days 30))) -}}
{{- else if lt $days 730 -}}
  {{- $out = "about a year ago" -}}
{{- else -}}
  {{- $out = printf "%d years ago" (int (math.Round (div $days 365))) -}}
{{- end -}}
{{- return $out -}}
