<img
  class="zoom-animation mx-auto hidden rounded-full border-2 border-white ring-4 ring-blue-400 md:block md:h-16"
  src="/images/me.jpeg"
  alt="My gorgeous mug."
/>
<h1 class="my-4 text-center text-2xl leading-tight md:my-8 md:text-5xl">
  Heya, I'm
  <span class="relative font-bold">Wilhelm Murdoch</span>.<br /><strong
    >Coder</strong
  >
  & <strong>Platform Engineer</strong>.
</h1>
<p
  class="mb-4 text-center text-sm font-extralight text-slate-500 md:mb-10 md:border-none md:text-2xl"
>
  {{ .Site.Params.Description }}
</p>
<div
  class="space-x-4 border-b pb-4 text-center sm:border-none md:block md:pb-0"
>
  <a
    href="https://github.com/wilhelm-murdoch"
    title="GitHub"
    class="text-slate-300 transition duration-200 hover:text-slate-400"
  >
    <span class="sr-only">GitHub</span>
    <span class="fa-brands fa-github h-6 md:text-[2rem]"></span>
  </a>

  <a
    href="https://bsky.app/profile/wilhelm.codes"
    title="Bluesky"
    class="text-slate-300 transition duration-200 hover:text-slate-400"
  >
    <span class="sr-only">Bluesky</span>
    <span class="fa-brands fa-bluesky h-6 md:text-[2rem]"></span>
  </a>

  <a
    href="https://www.linkedin.com/in/wilhelmmurdoch"
    title="LinkedIn"
    class="text-slate-300 transition duration-200 hover:text-slate-400"
  >
    <span class="sr-only">LinkedIn</span>
    <span class="fa-brands fa-linkedin h-6 md:text-[2rem]"></span>
  </a>
</div>
