<a href="" title="">
  <img src="https://0.gravatar.com/avatar/c1bc1ee1440ccaa8de907689c80c29802a461b886ad352580a605ce6881a44cb?size=512" alt="My gorgeous mug." class="zoom-animation absolute right-0 top-0 rounded-full h-32 ring-4 ring-blue-100 border-4 border-white" />
</a>
<h1 class="text-5xl my-8 font-bold text-left leading-tight">
  Heya, I'm
  <span class="font-normal relative">Wilhelm Murdoch</span>.<br />Coder
  & Platform Engineer.
</h1>
<p class="text-justify text-2xl text-slate-500 font-extralight ">
  {{ .Site.Params.Description }}
</p>