<img class="zoom-animation mx-auto rounded-full hidden md:block md:h-36 ring-4 ring-blue-400 border-2 border-white" src="/images/me.jpeg" alt="My gorgeous mug."  />
<h1 class="text-2xl md:text-5xl sm:my-4 md:my-8 font-bold text-center leading-tight">
  Heya, I'm
  <span class="font-normal relative">Wilhelm Murdoch</span>.<br />Coder
  & Platform Engineer.
</h1>
<p class="hidden md:block text-center text-2xl text-slate-500 font-extralight mb-10">
  {{ .Site.Params.Description }}
</p>
<div class="hidden md:block space-x-4 text-center">
  <a href="https://github.com/wilhelm-murdoch" title="GitHub" class="transition duration-200 text-slate-300 hover:text-slate-400">
    <span class="sr-only">GitHub</span>
    <span class="fa-brands fa-github h-6"></span>
  </a>

  <a href="https://bsky.app/profile/wilhelm.codes" title="Bluesky" class="transition duration-200 text-slate-300 hover:text-slate-400">
    <span class="sr-only">Bluesky</span>
    <span class="fa-brands fa-bluesky h-6"></span>
  </a>

  <a href="https://www.linkedin.com/in/wilhelmmurdoch" title="LinkedIn" class="transition duration-200 text-slate-300 hover:text-slate-400">
    <span class="sr-only">LinkedIn</span>
    <span class="fa-brands fa-linkedin h-6"></span>
  </a>
</div>