<div class="max-w-4xl m-auto">
  <nav id="navigation" class="sm:text-xs md:text-lg text-slate-300 sm:mb-8 md:mb-16 text-center">
    <ul class="p-0 m-0">
      {{ if eq .RelPermalink "/" }}
      <li><a href="{{ .Site.BaseURL }}" title="Home" class="active">Home</a></li>
      {{ else }}
      <li><a href="{{ .Site.BaseURL }}" title="Home">Home</a></li>
      {{ end }}
      
      {{ if eq .RelPermalink "/archive/" }}
      <li><a href="{{ .Site.BaseURL }}archive" title="Archive" class="active">Archive</a></li>
      {{ else }}
      <li><a href="{{ .Site.BaseURL }}archive" title="Archive">Archive</a></li>
      {{ end }}
      <li class="cursor-not-allowed">Projects</li>
    </ul>
  </nav>
</div>