<nav
  id="navigation"
  class="mx-auto max-w-2xl text-xs md:text-lg text-slate-300 mb-6 sm:mb-6 md:mb-14 text-center"
>
  <ul class="p-0 m-0">
    {{ $current := . }}
    {{ range site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (eq .URL $current.RelPermalink) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
      <li class="relative">
        {{ if $active }}
          <span class="text-slate-800 font-semibold active">{{ .Name }}</span>
        {{ else }}
          <a href="{{ .URL }}" title="{{ .Name }}">
            {{ .Name }}
          </a>
        {{ end }}

        {{ if .Params.badge_text }}
          <span class="absolute rounded-md px-1 text-xs bg-red-600 text-white"
            >{{ .Params.badge_text }}</span
          >
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
