{{ $payload := .payload }}
{{ $action := "unknown" }}

{{ with ( eq .payload.ref_type "branch" ) }}
  {{ $action = "checked out" }}
  {{ partial "changelog/icon.html" ( dict "icon" "code-branch" "colour" "slate" ) }}
{{ end }}

{{ with ( eq .payload.ref_type "repository" ) }}
  {{ $action = "created" }}
  {{ partial "changelog/icon.html" ( dict "icon" "code-compare" "colour" "slate" ) }}
{{ end }}

{{ with ( eq .payload.ref_type "tag" ) }}
  {{ $action = "published" }}
  {{ partial "changelog/icon.html" ( dict "icon" "tag" "colour" "slate" ) }}
{{ end }}


<p class="relative mb-2 px-2 pt-1 sm:px-0 sm:pr-20">
  {{ partial "changelog/author.html" .actor }}
  {{ $action }}
  {{ .payload.ref_type }} <code>{{ $payload.ref }}</code>
</p>
