{{ $action := "opened" }}
{{ $icon := "circle-dot" }}
{{ $colour := "green" }}
{{ if eq .state "closed" }}
  {{ $action = "closed" }}
  {{ $icon = "circle-check" }}
  {{ $colour = "purple" }}
{{ end }}
{{ partial "changelog/icon.html" ( dict "icon" $icon "colour" $colour ) }}
<p class="relative mb-2 pt-1 pr-20">
  {{ partial "changelog/author.html" ( dict "url" .user.url "avatar_url" .user.avatar_url "display_login" .user.login ) }}
  {{ $action }} issue
  <strong>{{ .title }}</strong>.
  <span class="absolute top-1 right-0 inline-block text-sm">
    <a
      href="{{ .html_url }}"
      title="View issue #{{ .number }}..."
      class="font-mono"
      target="_blank"
      >#{{ .number }}</a
    >
  </span>
</p>
