{{ $action := "opened" }}
{{ $icon := "code-pull-request" }}
{{ $colour := "green" }}
{{ if .merged_at }}
  {{ $action = "merged" }}
  {{ $icon = "code-merge" }}
  {{ $colour = "purple" }}
{{ else if eq .state "closed" }}
  {{ $action = "closed" }}
  {{ $icon = "code-pull-request-closed" }}
  {{ $colour = "red" }}
{{ end }}

{{ .type }}

{{ partial "changelog/icon.html" ( dict "icon" $icon "colour" $colour ) }}
<p class="relative mb-2 px-2 pt-1 sm:px-0 sm:pr-20">
  {{ partial "changelog/author.html" ( dict "url" .user.url "avatar_url" .user.avatar_url "display_login" .user.login ) }}
  {{ $action }} pull request
  <strong>{{ .title }}</strong>.
  <span
    class="relative inline-block text-xs sm:absolute sm:top-1 sm:right-0 sm:text-sm"
  >
    <a
      href="{{ .html_url }}"
      title="View pull request #{{ .number }}..."
      class="font-mono"
      target="_blank"
      >#{{ .number }}</a
    >
  </span>
</p>
