@tailwind base;
@tailwind components;
@tailwind utilities;

.summary-large p a {
  border-bottom: 2px solid theme("colors.slate.200");
  color: theme("colors.slate.500");
}

  .summary-large p a:hover {
    border-bottom: 2px solid theme("colors.slate.300");
  }

@layer base {
  ul, ol {
    list-style: revert;
  }
}

.toc ul, ol {
  margin-left: 16px;
}

.toc a {
  border-bottom: 2px solid theme("colors.slate.200");
  padding-bottom: 1px;
}

  .toc a:hover {
    border-bottom: 2px solid theme("colors.slate.300");
  }

  .toc ol {
    margin-top: 6px;
  }

  .toc li {
    margin-bottom: 6px;
    letter-spacing: 1px;
  }

article.blog a, .summary a {
  border-bottom: 2px solid theme("colors.slate.200");
  color: theme("colors.slate.500");
}

  article.blog a:hover, .summary a:hover {
    border-bottom: 2px solid theme("colors.blue.600");
  }

article.blog blockquote::before {
  content: "“";
  position: absolute;
  top: .4em;
  left: 0;
  font-size: 2em;
  line-height: 0;
  color: theme("colors.slate.400");
}

/*
Article Highlights
*/

article.highlight-slate svg,
article.highlight-slate h4 span,
article.highlight-slate h3 span {
  color: theme("colors.slate.400");
}

article.highlight-slate svg,
article.highlight-slate h4 span,
article.highlight-slate h3 span::after {
  background-color: theme("colors.slate.50");
}

article.highlight-red svg,
article.highlight-red h4 span,
article.highlight-red h3 span {
  color: theme("colors.red.400");
}

article.highlight-red svg,
article.highlight-red h4 span,
article.highlight-red h3 span::after {
  background-color: theme("colors.red.50");
}

article.highlight-yellow svg,
article.highlight-yellow h4 span,
article.highlight-yellow h3 span {
  color: theme("colors.yellow.500");
}

article.highlight-yellow svg,
article.highlight-yellow h4 span,
article.highlight-yellow h3 span::after {
  background-color: theme("colors.yellow.50");
}

article.highlight-orange svg,
article.highlight-orange h4 span,
article.highlight-orange h3 span {
  color: theme("colors.orange.400");
}

article.highlight-orange svg,
article.highlight-orange h4 span,
article.highlight-orange h3 span::after {
  background-color: theme("colors.orange.50");
}

article.highlight-emerald svg,
article.highlight-emerald h4 span,
article.highlight-emerald h3 span {
  color: theme("colors.emerald.400");
}

article.highlight-emerald svg,
article.highlight-emerald h4 span,
article.highlight-emerald h3 span::after {
  background-color: theme("colors.emerald.50");
}

article.highlight-teal svg,
article.highlight-teal h3 span {
  color: theme("colors.teal.400");
}

article.highlight-teal svg,
article.highlight-teal h3 span::after {
  background-color: theme("colors.teal.50");
}

article.highlight-blue svg,
article.highlight-blue h4 span,
article.highlight-blue h3 span {
  color: theme("colors.blue.400");
}

article.highlight-blue svg,
article.highlight-blue h4 span,
article.highlight-blue h3 span::after {
  background-color: theme("colors.blue.50");
}

article.highlight-purple svg,
article.highlight-purple h4 span,
article.highlight-purple h3 span {
  color: theme("colors.purple.400");
}

article.highlight-purple svg,
article.highlight-purple h4 span,
article.highlight-purple h3 span::after {
  background-color: theme("colors.purple.50");
}

article.highlight-rose svg,
article.highlight-rose h4 span,
article.highlight-rose h3 span {
  color: theme("colors.rose.400");
}

article.highlight-rose svg,
article.highlight-rose h4 span,
article.highlight-rose h3 span::after {
  background-color: theme("colors.rose.50");
}

article.archive h3 span {
  font-weight: 500;
  display: inline-block;
  position: relative;
}

article.archive h3 span::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  transform: rotate(1deg);
}

img.lazy {
  opacity: 0;
  transition: all 1s ease;
}

article h3,
.summary-large h2,
article p,
header h1,
header h2 {
  font-family: "Rubik", Helvetica Neue, Helvetica, Arial, sans-serif;
}

header h1 span::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 40%;
  transform: rotate(1deg);
  background-color: theme("colors.blue.100");
}

.fade-in-animation {
  -webkit-animation: fade-in-animation 1s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-animation 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heartbeat-animation:hover {
  -webkit-animation: heartbeat-animation 1.5s ease-in-out 2 both;
  animation: heartbeat-animation 1.5s ease-in-out 2 both;
}

@-webkit-keyframes heartbeat-animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat-animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.jello-animation:hover {
  -webkit-animation: jello-animation 0.9s both;
  animation: jello-animation 0.9s both;
}

@-webkit-keyframes jello-animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.zoom-animation {
  -webkit-animation-name: zoom-animation;
  animation-name: zoom-animation;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoom-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoom-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


