<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="canonical" href="" itemProp="url"/>

    <meta name="description" content="" itemProp="description"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <meta property="og:title" content="" itemProp="name"/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content=""/>
    <meta name="image" property="og:image" content="" itemProp="image"/>

    <link rel="apple-touch-icon" sizes="180x180" href=""/>
    <link rel="icon" type="image/png" sizes="32x32" href=""/>
    <link rel="icon" type="image/png" sizes="16x16" href=""/>
    
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content=""/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>
    <meta property="twitter:creator" content=""/>
  </head>
  <body>
    ${INKWELL_ARTICLE}
  </body>
</html>